<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <%- include('../components/header.ejs') %>
        <%- include('../components/aside-label.ejs') %>
            <section class="tracks-list">
                <% tracks.map(elt=> { %>
                    <figure class="track">
                        <figcaption>
                            <%= elt.track.name %>
                        </figcaption>
                        <audio controls src=<%=elt.track.preview_url %>>
                            Your browser does not support the
                            <code>audio</code> element.
                        </audio>
                    </figure>
                    <% })%>
            </section>
</body>

</html>